@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@300;400&family=Oswald:wght@700&display=swap');
/*
font-family: "Montserrat", sans-serif;
font-family: "Lora", serif;
font-family: "Oswald", sans-serif;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Montserrat:wght@300;400&family=Oswald:wght@700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
  background-color: #f8f9fa; /* Light background color */
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 25px;
  box-shadow: 0 8px 6px 6px -6px rgb(60, 53, 53) ;
  text-transform: uppercase;
  border-bottom: solid gray !important;
}

.navbar-brand {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  color: #333;
  padding-top: 0px;
  text-transform: uppercase;
  text-decoration: none;
}

.watch-logo{
  padding-bottom: 5px;
}

.active {
  border-bottom: 2px solid black;
}

.nav-link {
  font-family:  "Montserrat", sans-serif;
  font-weight: 400 !important;
  color: #555;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

/*
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
}

.nav-item {
  position: relative;
}


.nav-link:hover {
  color: #007bff;
}

.nav-link.disabled {
  color: #aaa;
  cursor: not-allowed;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
 */

/*==================================Footer Style===========================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');
 
.footer {
  background: linear-gradient(
    to right,
    #434343,
    #000000
  );
  padding: 1.5rem 0;
  border-top: 1px solid #e7e7e7;
  font-family: "Roboto", sans-serif;
}

.footer h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #f9f8f8;
  margin-bottom: 1rem;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

.footer a {
  color: #007bff;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #d0e1f3;
  border-bottom: 1px solid #d0e1f3 ;
}

.footer .text-center {
  text-align: center;
}

.footer .mt-3 {
  margin-top: 1rem;
}

/*==================================PageNotFound Style===========================================*/
.pnf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.pnf-title {
  font-size: 6rem; /* Adjust size as needed */
  color: #333; /* Dark text color */
  margin-bottom: 1rem;
}

.pnf-heading {
  font-size: 2rem; /* Adjust size as needed */
  color: #555; /* Medium dark text color */
  margin-bottom: 2rem;
}

.pnf-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem; /* Adjust size as needed */
  transition: background-color 0.3s ease;
}

.pnf-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/*==================================Contact Style===========================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Contact Component Styles */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactus h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: #343a40; /* Dark background color */
  color: #fff; /* White text color */
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.contactus p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: justify;
  margin-top: 1rem;
}

.contactus p:last-child {
  margin-bottom: 0;
}

.contactus .col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus .col-md-6 img {
  max-width: 100%; /* Ensure image stays within column */
  height: auto; /* Maintain aspect ratio */
}

.contactus .col-md-4 {
  background-color: #f8f9fa; /* Light background color */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactus .col-md-4 p {
  font-size: 1rem;
  margin-top: 1rem;
}

.contactus .col-md-4 p svg {
  margin-right: 0.5rem;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .contactus .col-md-6 {
    order: 2; /* Rearrange image column on smaller screens */
  }
}

/*==================================Register Page===========================================*/

.register {
  max-width: 300px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.register h1 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
  font-size: 20px;
}

.register .form-label {
  font-weight: 500;
  color: #666;
  font-size: 14px;
}

.register .form-control {
  padding: 8px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

.register .btn {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.register .btn:hover {
  background-color: #0056b3;
}

.register .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/*=================================Toaster===========================================*/

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.react-hot-toast {
  animation: slideDown 1s ease-in-out;
}

/*=================================Login=============================================*/

.login {
  max-width: 300px;
  margin: auto;
  padding: 15px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.login h1 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
  font-size: 20px;
}

.login .form-label {
  font-weight: 500;
  color: #666;
  font-size: 14px;
}

.login .form-control {
  padding: 8px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}

.login .btn {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.login .btn:hover {
  background-color: #0056b3;
}

.login .form-control:focus {
  border-color: #5d98d6;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/*=================================product-link(Product.js)===========================================*/
.product-link {
  text-decoration: none;
  color: black !important;
}

.product-link .card {
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.product-link .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-link .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.product-link .card-title:hover {
  color: #4169E1;
}

.product-link .card-text {
  color: #363333;
  font-size: 0.9rem;
}

/*=================================ProductDetails.js - h5 tag===========================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.product-details-container {
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 800px;
  margin: 2rem auto;
}

.product-details img {
  max-width: 300px;
  height: auto;
  margin-right: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-details img:hover {
  transform: scale(1.05);
}

.product-details h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
  text-align: left;
}

.product-details h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
  transition: color 0.3s ease-in-out;
}

.product-details h5:hover {
  color: #007BFF;
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.detail, .product-details-title {
  transition: color 0.3s ease;
}

.detail:hover, .product-details-title:hover {
  color: #007bff;
}

.btn-add-to-cart {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-add-to-cart:hover {
  background-color: #218838;
  border-color: #1e7e34;
}